/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
}

.container {
  width: 75%;
  margin: auto;
}

.active {
  color: #d87d4a;
}

.hero_height {
  height: calc(100vh - 5rem);
}

.btn {
  outline: none;
  border: none;
}

.btn:focus {
  outline: none;
}

.custom-stroll::-webkit-scrollbar {
  display: none;
}

/* .drop_shadow::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: 1000000;
  box-shadow: 98px 87px 43px 23px black;
} */
