@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  /* background-color: black; */
}

* {
  scroll-behavior: smooth;
}

.container {
  width: 70vw;
  margin: auto;
  padding: 5rem 0;
}

.container-padding {
  padding: 5rem 0;
}

.container-md-nav,
.container-md-others {
  width: 90vw;
  margin: auto;
  padding: 1rem 0;
}

.container-md-others {
  padding: 3rem 0;
}

.heading {
  font-family: 'Chelsea Market';
  color: black;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}
